.responsive_header_content {
   display: none;
}

@media (max-width: 768px) {
   section {
      flex-direction: column;
      align-items: center;
      padding: 1em;
   }
   section:before {
      width: 80%;
   }
   /*** Header ***/
   header {
      height: 6.5em;
   }
   .responsive_header_content {
      display: flex;
      align-items: center;
      justify-content: space-between;
      max-width: 1600px;
      width: 100%;
      margin: 0 auto;
      z-index: 1;
   }
   .responsive_header_content-nav {
      width: 100%;
   }
   .responsive_header_content-nav-list {
      align-items: center;
      display: flex;
      justify-content: space-around;
      width: 100%;
      margin: 0 auto;
   }
   .responsive_header_content-nav-logo {
      width: 8em;
      margin-bottom: -35px;
      margin-left: 0;
      background-color:  var(--main-bg-color);
      border-radius: 50%;
   }
   .house {
      width: 1.5em;
      border: 1px solid #ffffff;
      border-radius: 50%;
   }
   .header_content {
      display: none;
   }
   /*** Intro ***/
   .intro_text {
      width: 90%;
      margin-top: 1.5em;
   }
   .intro_text-title {
      font-size: 1.5em;
      font-weight: 400;
   }
   .intro_text-subtitle {
      font-size: 1.3em;
      font-weight: 400;
      margin-bottom: 1em;
   }
   .intro_text-highlight {
      font-size: 1.8rem;
   }
   .intro_img {
      width: 80%;
      margin-top: 1.5em;
   }
   /*** Contact ***/
   .contact-text {
      width: 90%;
   }
   .contact-text-title {
      font-size: 1.5em;
   }
   .contact-text-description {
      font-size: 1em;
   }
   .contact-text-info {
      font-size: 1em;
      margin-bottom: 1em;
      flex-direction: column;
   }
   .map {
      display: none;
   }
   /*** Footer ***/
   footer {
      height: auto;
   }
   .logo {
      width: 6em;
      margin: 5px 0 ;
   }
   /*** Menu ***/
   .menu-item-container {
      grid-template-columns: repeat(auto-fit, minmax(100%, 100%));
      gap: 2rem;
   }
   .menu-nav {
      display: none;
   }
}
