@media (max-width: 768px) {
   section {
      flex-direction: column;
      align-items: center;
      padding: 1em;
   }
   section:before {
      width: 80%;
   }
   /*** Header ***/
   header {
      width: 100%;
      background: var(--header-bg-color);
      position:inherit;
      transform: none;
      height: 100px;
   }
   .header_content-logo {
      width: 8rem;
      left: 50%;
      transform: translateX(-50%);
      top: 0px;
      margin: 0;
   }
   .header_content-nav {
      justify-content: center;
      padding: 10px;
      margin-left: 0;
   }
   .header_content-nav-list {
      justify-content: space-between;
      width: 100%;
      margin: 10px 0;
   }
   /*** Intro ***/
   .intro_text {
      width: 90%;
      margin-top: 1.5em;
   }
   .intro_text-title {
      font-size: 1.5em;
      font-weight: 400;
   }
   .intro_text-subtitle {
      font-size: 1.3em;
      font-weight: 400;
      margin-bottom: 1em;
   }
   .intro_text-highlight {
      font-size: 1.8rem;
   }
   .intro_img {
      width: 80%;
      margin-top: 1.5em;
   }
   /* Galerie */
   .galerie-slider {
      grid-template-columns: repeat(2, 1fr);     
      grid-template-rows: repeat(0.5fr, 1fr);
   }

   /*** Contact ***/
   .contact-text {
      width: 90%;
   }
   .contact-text-title {
      font-size: 1.5em;
   }
   .contact-text-description {
      font-size: 1em;
   }
   .contact-text-info {
      font-size: 1em;
      margin-bottom: 1em;
      flex-direction: column;
   }
   .map {
      display: none;
   }
   /*** Footer ***/
   footer {
      height: auto;
   }
   .logo {
      width: 6em;
      margin: 5px 0 ;
   }
   /*** Menu ***/
   .menu-item-container {
      grid-template-columns: repeat(auto-fit, minmax(100%, 100%));
      gap: 2rem;
   }
   .menu-nav {
      display: none;
   }
}
