:root {
   --main-bg-color: #31393C;
   --secondary-bg-color: #262d2f;
   --main-font-color: #D3AB65;
   --secondary-font-color: #638A55;
   --white-font: #FFFFFF;
   --border-color: #D3AB65;
   --border-radius: 10px;
   --box-shadow: 0 0 20px 5px #00000080;
}
* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}
body {
   background-color: var(--secondary-bg-color);
   color: var(--white-font);
   list-style-type: none;
   font-family: Montserrat, sans-serif;
   background-image: url("../assets/svg/background.svg");
   min-height: 100vh;
   display: flex;
   flex-direction: column;
}
main {
   flex: 1;
}
a {
   color: inherit;
   text-decoration: none;
}
ul {
   list-style-type: none;
}
section {
   width: 100%;
   max-width: 1800px;
   /* min-height: calc(65vh - 5em); */
   margin: 0 auto;
   padding: 5em 2em;
   position: relative;
   display: flex;
}
section:before {
   content: "";
   position: absolute;
   bottom: 0;
   left: 50%;
   transform: translateX(-50%);
   width: 50%;
   height: 1px;
   background-color: var(--border-color);
}
.contact:before {
   display: none;
}
/*** Header ***/
header {
   background-color: var(--main-bg-color);
   border-bottom: 1px solid var(--border-color);
   display: flex;
   height: 9em;
   box-shadow: var(--box-shadow);
}
.header_content {
   display: flex;
   align-items: center;
   justify-content: space-around;
   max-width: 1600px;
   width: 100%;
   margin: 0 auto;
   z-index: 1;
}
.header_content-logo {
   width: 10.5em;
   margin-left: 30px;
   margin-bottom: -50px;
   background-color: var(--main-bg-color);
   border-radius: 50%;
}
.header_content-nav-list {
   display: flex;
   flex-direction: row;
   list-style: none;
   margin-left: 100px;
}
.header_content-nav-list-li {
   margin: 0 15px;
   font-size: 1.2em;
   color: var(--main-font-color);
   font-family: var(--font-montserrat), sans-serif;
}
.header_content-nav-list-li:hover {
   color: var(--secondary-font-color);
}
/*** Intro ***/
.intro { 
   justify-content: space-around;
   align-items: center;
   font-family: Radley, sans-serif;
}
.intro_text {
   width: calc(50% - 5em);
   display: flex;
   flex-direction: column;
   justify-content: center;
   text-align: center;
}
.intro_text-title {
   font-size: 2.2em;
   font-weight: 600;
   color: var(--main-font-color);
}
.intro_text-subtitle {
   font-size: 1.5em;
   font-weight: 300;
   margin-top: 1.5em;
}
.intro_text-highlight {
   color: var(--secondary-font-color);
   font-weight: 800;
   font-size: 2.4rem;
   display: inline;
}
.intro_img {
   width: 40%;
   height: 50%;
   border-radius: var(--border-radius);
   border: 1px solid var(--border-color);
   overflow: hidden;
   box-shadow: var(--box-shadow);
   object-fit: cover;
   object-position: center;
}
/*** Services ***/

/*** Contact ***/
.contact {
   justify-content: space-around;
   align-items: center;
}
.contact-text {
   width: calc(50% - 2em);
   border-radius: 10px;
   display: flex;
   flex-direction: column;
   text-align: center;
}
.contact-text-title {
   font-size: 2em;
   color: var(--main-font-color);
   font-family: bodoni-moda, serif;
}
.contact-text-description {
   font-size: 1.2rem;
   color: var(--secondary-font-color);
   margin-top: 10px;
}
.contact-text-info {
   font-size: 1.5rem;
   fill: var(--main-font-color);
   margin-top: 10px;
   display: flex;
   align-items: center;
   justify-content: center;
   gap: 20px;
   margin-top: 2em;
}
.contact-text-icon {
   font-size: 1rem;
   color: var(--main-font-color);
   border: 1px solid var(--main-font-color);
   padding: 2px;
   min-width: 2em;
   height: 2em;
   border-radius: 50%;
}
.map {
   width: 40%;
   height: 500px;
   border: 2px solid var(--main-font-color);
   border-radius: var(--border-radius);
   overflow: hidden;
   box-shadow: var(--box-shadow);
}
/*** Footer ***/
footer {
   width: 100%;
   height: 9em;
   padding: 0 20px;
   background-color: var(--main-bg-color);
   border-top: 1px solid var(--main-font-color);
   box-shadow: var(--box-shadow);
}
.footer_content {
   height: 100%;
   width: 100%;
   max-width: 1600px;
   display: flex;
   justify-content: flex-start;
   align-items: center;
   margin: 0 auto;
}
.logo {
   width: 8em;
}